#root {
  max-width:1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}
.Movie-container{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Movie-wrapper{
  width:80%;
  background-color:antiquewhite;
  color:black;
}
.Movie-search{
  height: 48px;
  width:475px;
  font-size: 24px;
  margin-bottom: 32px;
  padding:16px;
  font-weight: bold;
}